
~$ummary.docx
summary.docx
__pycache__/utils.cpython-39.pyc
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/TextSummarizer.iml
